.islide {
    width: 800px;
    height: 300px;
    position: relative;
    display: none;
    overflow: hidden;
    font-family:  Verdana, Tahoma, "Lucida Sans";
    font-size: 9pt;
    font-weight: normal;
}

.islide #carrousel {
    margin-left: 600px;
    position: relative;
    padding: 0px;
    z-index: 0;
    list-style: none;
}

.islide #carrousel li{
    width : 200px;
    height: 100px;
    overflow: hidden;
}

.islide #bb1,
.islide #bb2 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 300px;
    width: 600px;
    z-index: -1;
}